<yl-header [coach]="authorizedCoach.coach"></yl-header>

<div
  class="hero-list_container"
  *ngIf="heroes$ | async as heroes; else showSpinner"
>
  <div class="hero_card" *ngFor="let hero of heroes; let index = i">
    <yl-hero-card
      [hero]="hero"
      [coach]="authorizedCoach.coach"
      [heroes]="heroes"
      [index]="index"
    ></yl-hero-card>
  </div>
</div>

<ng-template #showSpinner>
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ng-template>
