@use "src/assets/styles/colors";

.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  form {
    //border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    width: 100%;
    padding: 10px 20px;
    box-shadow: colors.$boxShadow;
    background-color: #fff;

    .form-group {
      display: block;
      margin-bottom: 8px;

      label {
        display: block;
        margin-bottom: 8px;
        margin-top: 5px;
        color: rgba(44, 73, 127, 0.8);
      }

      input {
        padding: 5px 10px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid rgba(44, 73, 127, 0.5);
        color: rgba(44, 73, 127, 1);

        &:focus,
        &:active {
          border: 1px solid rgba(44, 73, 127, 1);
          border-radius: 5px;
        }
      }

      span.error {
        color: colors.$dangerBackground;
        display: block;
        margin-top: 5px;
      }
    }

    .actions {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      border: 1px solid;

      background-color: colors.$buttonBg;
      color: colors.$whiteColor;
      border-radius: 5px;

      button {
        padding: 8px 10px;
        width: 100%;
      }
    }
  }
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: colors.$borderColor;
}
