<div class="hero-details card">
  <div class="header" tabindex="0">
    <h3>{{ heroProps.name }}</h3>
  </div>
  <div class="content">
    <ul role="listbox">
      <li role="listitem">
        <a href="/">Start date:&nbsp;{{ heroProps.start_date }}</a>
      </li>

      <li role="listitem">
        <a href="/">Suit colors:&nbsp;{{ heroProps.suit_colors }}</a>
      </li>
      <li role="listitem">
        <a href="/">Ability:&nbsp;{{ heroProps.ability }}</a>
      </li>
      <li role="listitem">
        <a href="/">Starting power:&nbsp;{{ heroProps.starting_power }}</a>
      </li>
      <li role="listitem">
        <a href="/">Current power:&nbsp;{{ heroProps.current_power }}</a>
      </li>
    </ul>
  </div>
  <div class="footer">
    <div class="actions">
      <button *ngIf="(coachProps | titlecase) === heroProps.coach">
        Start training
      </button>
    </div>
  </div>
</div>
